/* Definição de variáveis de cor */
:root {
    --cor-principal: #1180c4; /* Azul Principal */
    --cor-secundaria: #e8f4fc; /* Azul Claro */
    --cor-texto: #333; /* Cinza Escuro */
    --cor-fundo: #f4faff; /* Azul Muito Claro */
    --cor-botao: #1180c4; /* Azul Principal */
    --cor-botao-hover: #0a5d8d; /* Azul Escuro para hover */
    --cor-rodape: #0a5d8d; /* Azul Escuro para rodapé */
    --cor-icon: #1180c4; /* Azul Principal para ícones */
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--cor-texto);
    line-height: 1.6;
    background-color: var(--cor-fundo);
}

/* Container padrão */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

/* Estilo do Cabeçalho */
header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    background: transparent;
}

header .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 20px 0;
}

header .nav-links li {
    margin: 0 30px; /* Espaçamento maior entre os itens no desktop */
}

header .nav-links a {
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

header .nav-links a:hover {
    color: #00bfff;
    transform: scale(1.1);
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    header .nav-links {
        flex-direction: row; /* Mantém os botões lado a lado */
        padding: 10px;
        flex-wrap: nowrap; /* Impede que os itens quebrem para a linha seguinte */
    }

    header .nav-links li {
        margin: 0 10px; /* Espaçamento reduzido entre os itens em dispositivos móveis */
    }

    header .nav-links a {
        font-size: 16px;
    }
}



/* Botão Contato */
.contact-button {
    background: var(--cor-principal);
    padding: 10px 20px;
    color: var(--cor-secundaria);
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
    font-size: 16px;
}

.contact-button:hover {
    background: var(--cor-botao-hover);
}

/* Banner Principal */
.banner {
    background: url('img/agualimpa.jpg') no-repeat center center/cover;
    color: var(--cor-secundaria);
    padding: 100px 0;
    text-align: center;
    position: relative;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.banner .container {
    position: relative;
    z-index: 2;
}

.banner h1 {
    font-size: 48px;
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 20px;
}

.banner p {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 40px;
}

.banner .cta {
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 30px;
    display: inline-block;
    transition: background 0.3s ease, transform 0.3s ease;
}

.banner .cta:hover {
    background: var(--cor-botao-hover);
    transform: scale(1.05);
}

/* Seções de Conteúdo */
.content-section {
    padding: 60px 0;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
    color: var(--cor-principal);
    font-family: 'Orbitron', sans-serif;
}

.section-content {
    text-align: center;
    max-width: 800px;
    margin: auto;
    font-size: 18px;
}

/* Estilo para a seção de benefícios */
#beneficios {
    padding: 50px 0;
    position: relative; /* Necessário para posicionar o indicador de rolagem */
}

/* Contêiner da lista de benefícios */
.benefits-list {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    scroll-snap-type: x mandatory; /* Adiciona efeito de snap na rolagem */
    -webkit-overflow-scrolling: touch; /* Suporte para rolagem suave no iOS */
}

/* Estilo dos itens de benefício */
.benefit-item {
    flex: 0 0 auto; /* Impede o item de encolher e permite rolagem horizontal */
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    min-width: 300px; /* Ajuste o tamanho mínimo conforme necessário */
    scroll-snap-align: start; /* Alinha o item ao início durante a rolagem */
    transition: transform 0.3s;
}

/* Efeito de hover */
.benefit-item:hover {
    transform: translateY(-10px);
}

/* Estilo dos ícones */
.benefit-icon {
    font-size: 3rem;
    color: #1180c4; /* Mantém a cor azul dos ícones */
    margin-bottom: 15px;
}

.benefit-item h3 {
    margin: 10px 0;
    font-size: 1.2rem;
}

.benefit-item p {
    font-size: 0.9rem;
    color: #555;
}

/* Indicador de rolagem */
.scroll-indicator {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 24px;
    height: 24px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    z-index: 10;
    transform: translateY(-50%);
}

/* Adiciona a seta */
.scroll-indicator:before {
    content: '\f078'; /* Código da seta para a direita, usando Font Awesome */
    font-family: 'Font Awesome 5 Free'; /* Certifique-se de incluir Font Awesome */
    font-weight: 900;
}

/* Adiciona sombra ou gradiente na extremidade direita */
.benefits-list::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
    pointer-events: none;
}

/* Adiciona sombra ou gradiente na extremidade esquerda */
.benefits-list::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
    pointer-events: none;
}

/* Remove o estilo de rolagem horizontal no desktop, se desejado */
@media (min-width: 769px) {
    .benefits-list {
        overflow-x: visible;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    /* Remove o indicador de rolagem no desktop */
    .scroll-indicator {
        display: none;
    }
}


/* Estilo geral para o container da seção */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Seção Benefícios */
#beneficios {
    padding: 50px 0;
    position: relative;
}

.benefits-list {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding: 0;
    margin: 0;
    align-items: stretch;
}

.benefit-item {
    flex: 0 0 auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    min-width: 300px;
    scroll-snap-align: start;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: 300px;
}


.benefit-item p {
    font-size: 0.9rem;
    color: #555;
    line-height: 1.5;
    overflow-wrap: break-word;
}

    /* Estilo para o indicador de bolinhas */
.dots-indicator {
    text-align: center;
    margin-top: 20px;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #1180c4;
}


@media (max-width: 768px) {
    .scroll-indicator {
        display: block;
    }
}


@media (min-width: 769px) {
    .benefits-list {
        overflow-x: visible;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
    }
}


/* Seção Produtos */
#produtos {
    padding: 50px 0;
}

.products-grid {
    display: flex;
    overflow-x: auto;
    gap: 30px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.product-card {
    flex: 0 0 auto;
    width: 300px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-image {
    height: 200px;
    background-size: cover;
    background-position: center;
}

.product-info {
    padding: 20px;
}

.product-info h3 {
    margin-bottom: 10px;
    font-size: 24px;
}

.product-info p {
    font-size: 16px;
    color: #666;
}

.product-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1180c4;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.product-button:hover {
    background-color: #0d6efd;
}

@media (min-width: 769px) {
    .products-grid {
        overflow-x: visible;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

.products-scroll-indicator {
    text-align: center;
    margin-top: 20px;
}

.products-scroll-indicator .dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #ddd;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.products-scroll-indicator .dot.active {
    background-color: #1180c4;
}



/* Seção Galeria */
#galeria {
    background-color: var(--cor-fundo);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
}

.gallery img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}




/* Estilo para a seção de contato */
#contato {
    background-color: var(--cor-fundo);
}

/* Rodapé */
footer {
    background: var(--cor-rodape);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin: 10px 0;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* Estilização do botão Fale Conosco no WhatsApp */
.whatsapp-contact {
    display: inline-flex;
    align-items: center;
    background-color: var(--cor-principal); /* Cor principal */
    color: var(--cor-secundaria); /* Cor do texto do botão */
    padding: 10px 20px;
    border-radius: 50px; /* Bordas arredondadas para um botão redondo */
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    white-space: nowrap; /* Garante que o texto não quebre em várias linhas */
}

.whatsapp-contact:hover {
    background-color: var(--cor-botao-hover); /* Cor do botão ao passar o mouse */
    transform: scale(1.05);
}

.whatsapp-contact i {
    margin-right: 8px; /* Espaço entre o ícone e o texto */
    font-size: 20px; /* Tamanho do ícone */
}

